<hr>
<br/>
<center>
  <!-- <a href="#">Undo all user applications</a> /  -->
  <a href="#">Broadcast event</a> / 
  <a href="#">Cancel event</a> /
  <a href="#">Set as finished</a>
</center>

<br/>
<hr>
