<div class="block lab-links">
  <div class="content sized-content">
    <div class="inner">
      <h2 class="title">Ressources laboratoire</h2>
      <table width="100%">
	<tr>
	  <td>
	    <a target="_blank" href="http://p3ee.com">Site Vitrine du labo</a>
	  </td>
	  <td>
	    <a target="_blank" href="http://eschool.p3ee.com">Plateforme E-learning</a>
	  </td>
	  <td>
	    <a target="_blank" href="http://groups.google.com/group/epitech-web-lab">Google Group (Forum)</a>
	  </td>
	  <td>
	    <a target="_blank" href="https://github.com/organizations/E-Web-Lab">GitHub (Versionning)</a>
	  </td>
	  <td>
	    <a target="_blank" href="http://webchat.freenode.net/">Irc : irc.freenode.net #epitech-weblab</a>
	  </td>
	</tr>
      </table>
      
    </div>      
  </div>
</div>
