<!-- <div class="block" id="block-text"> -->
<!--   <div class="content my-dashboard-menu"> -->

<!-- 	  <% if user_signed_in? %> -->
<!-- 	    <ul class="wat-cf"> -->
<!-- 	      <li class="first"> -->
<!-- 		<a href="<%= user_account_historic_path %>"> -->
<!-- 		  Vous êtes loggé en tant que <b><%= current_user %></b> -->
<!-- 		</a> -->
<!-- 	      </li> -->
<!-- 	    </ul> -->
<!-- 	  <% end %> -->

<!--     <%= render_navigation :level => 2 %> -->
<!--   </div> -->
<!-- </div> -->
