
<% if user_signed_in? %>
<div class="block  rank">
  <h3>Leaderboard</h3>
  <div class="content">
    <p>
      <!-- En ajax ? -->
      <h4>Utilisateur les plus actifs</h4>
      <ol>
	<% @u = User.limit(5).order('points DESC') %>
	<% @u.each do |u| %>
	  <li><%= u %> <span style="float : right"><%= u.points %></span></li>
	<% end %>
      </ol>

      <h4>Les nouveaux</h4>
      <ol>
      <% User.limit(5).order('created_at DESC').each do |u| %>
	<li><%= u %></li>
      <% end %>
      </ol>
    </p>
  </div>

</div>
<% end %>

<div class="block rank">
  <h3>Web Lab Mission</h3>
  <div class="content">
    <p>	
      Ici vous avez accès aux missions proposées par le Web Lab. 
    </p>
  </div>


  <h3>Comment ca marche ?</h3>
  <div class="content">
    <p>
      <ol>
	<li>Inscrivez-vous</li>
	<li>Postulez aux missions <%= link_to 'ici', mission_available_path %></li>
	<li>Vous recevrez un mail quand la mission sera validée</li>
	<li>Réalisez la mission</li>
	<li>Et empochez le reward !</li>
      </ol>
    </p>
  </div>

  
</div>

