/* Create the file `app/assets/stylesheets/typus/custom.css` in your
   application if you need/want to override/add some stylesheets. */

/*
.logo {
  height: 50px;
  width: 150px;
  background: transparent url(/images/logo.gif) no-repeat;
  text-indent: -10000px;
}
*/
