html, body {}

body {
  font-family: "Lucida Grande", Sans-serif;
  font-size: 75%;
  height: 100%;
}

label { display: block; font-weight: bold; margin: 0 0 5px 0; }
strong { font-weight: bold; }
em { font-style: italic; }

dl { margin: 14px 0 20px 0; }
dt { font-weight: bold; }
dd { font-size: 18px; margin: 0.25em 0 1em 0; }
dd p { color: #000; }

p {
  color: #777;
  line-height: 1.25em;
  margin: 1em 0;
}

h1 { font-size: 2em; font-weight: normal; }
h2 { font-weight: bold; }
h3 { font-size: 1.25em; font-weight: bold; margin: 1em 0; }

a,
a:visited,
a:link { color: #000; font-weight: normal; }
a:hover { color: #333; text-decoration: underline!important; }
