<% content_for :page_title do %>
  My Dashboard
<% end %>

<% content_for :sidebar do %>
  
<% end %>


<% content_for :ext_stylesheets do %>
  <%= stylesheet_link_tag 'profile' %>
<% end %>

<%= render :partial => 'shared/menu_my_dashboard' %>

<%= render :partial => 'shared/rewards' %>

<div class="block profile" id="block-text">
  <div class="content sized-content private_profile">
    <div class="inner">

      <%= render :partial => 'shared/walletoperation_historic' %>
	
      
    </div>
  </div>
</div>
