	    //-webkit-animation: fontbulger 5s infinite;

@mixin rounded_bottom_left($amount) {
    -moz-border-radius-bottomleft: $amount;
    -webkit-border-radius: 0px 0px 0px $amount;
    border-radius: 0px 0px 0px $amount;
}

@mixin rounded($amount) {
    -moz-border-radius: $amount;
    -webkit-border-radius: $amount;
    -khtml-border-radius: $amount;
    border-radius: $amount;
}

@mixin transition($amount) {
    -webkit-transition: all $amount ease-out;
    -moz-transition: all $amount ease-out;
    -o-transition: all $amount ease-out;
    transition: all $amount ease-out;
}


@mixin background-gradient($color, $percent) {
    background: -webkit-gradient(
	linear, left top, left bottom, 
	from($color),
	to(lighten($color, $percent)));
   background: -moz-linear-gradient(
   	top,
   	$main_color $percent,
   	lighten($color, $percent));
   background-color : $color;
}

@mixin text-effect() {
    background: -webkit-gradient(linear, left top, right top,
 color-stop(0, #999),
 color-stop(0.375, #999),
 color-stop(0.5, white),
 color-stop(0.625, #999),
 color-stop(1, #999));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: shimmer 3s infinite;
}

@-webkit-keyframes fontbulger {
        0% {
            opacity : 1;
        }
        50% {
            opacity : 0.2;
        }
        100% {
            opacity : 1;
        }
}

@-webkit-keyframes morph {
    0% {
	@include rounded_bottom_left(8px);
    }
    50% {
	@include rounded_bottom_left(50px);
    }
    100% {
	@include rounded_bottom_left(8px);
    }
}


@mixin morph-it() {
    -webkit-animation-name: morph;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@mixin shake-it() {
    		-webkit-animation-name: spaceboots;
		-webkit-animation-duration: 0.8s;
		-webkit-transform-origin:50% 50%;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
}

@mixin special-border() {
    border-color: rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 30px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: 0 0 15px rgba(82, 168, 236, 0.6);
    box-shadow: 0 0 45px rgba(82, 168, 236, 0.6);	
}

@mixin rounded_bottom($amount) {
    -moz-border-radius-bottomleft: $amount;
    -moz-border-radius-bottomright: $amount;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-radius: 0px 0px $amount $amount;
    border-radius: 0px 0px $amount $amount;
}


@mixin nice_inputs() {
    input[type=text], textarea, input[type=email], input[type=password] {
	padding : 5px;
	border : 2px solid $main_color;
	@include rounded(4px);
	box-shadow : inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow : inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow : inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    input[type=submit], input[type=button] {
	text-align : center;
	padding : 3px 12px 3px 12px;
	margin-top : 8px;
	background-color : $main_color;
	color : #222;
	font-weight : bold;
	font-size : 1.1em;
	cursor : pointer;
	border : 1px solid black;    
	@include rounded(3px);
    }
    
    input[type=submit]:hover {   
	background-color : $main_color;
	color : #222;
    }
}

@mixin nice_form() {
    .form {
	@include nice_inputs();
	#mini {
	        text-transform : none;
		    font-size : 9px;
		    }
	.field_with_errors {
	        color : red;
		}


	p {margin:.5em 0;}

	label{
	    text-transform : uppercase;
	    font-weight : bold;
	    display:block;}

	.fields input, textarea{
	        border:2px solid $main_color;
		    padding:5px;
		        @include rounded(4px);
			}

	.submit_btn {
	        margin-top : 20px;
		}
    }

}