@import 'functions';

.profile {

}

.private_profile {
    #historic_resume {
	tr {
	    height : 35px;
	}
	font-size : 15px;
	text-align : center;
	.color-0 {
	    background-color : green;
	    font-weight : bold;
	    text-shadow : none;
	    color : white;
	}
    }
}

.resume_profile {

    .login {
	height : 150px;
	.group {
	    height : 25px;
	}
	input[type="email"], input[type="password"] {
	    border: solid 1px #E5E5E5;
	    height : 20px;
	}
    }
    
    #error_explanation {
	color : red;
    }
    .field_with_errors {
	color :red;
	border : 1px solid red;
    }
    @include normalize-inputs();   
    @include normalize-labels();
    
    
}