
.profile {

}

.private_profile {
    #historic_resume {
	tr {
	    height : 35px;
	}
	font-size : 15px;
	text-align : center;
	.color-0 {
	    background-color : green;
	    font-weight : bold;
	    text-shadow : none;
	    color : white;
	}
    }
}
